<div >
  <hr style="border-top: 1px solid black;">
  <img src="{{.qrImage}}" alt="" style="height: 2cm; width: 2cm; border: 1px solid black; position: absolute;">
  <div style="padding-left: 2.5cm;">
    <p style="text-align: left;font-size: 8pt;">Catatan:</p>
    <ul style="margin: 0; padding-left: 0.5cm;">
      <li style="text-align: left;font-size: 8pt;">UU ITE No. 11 Tahun 2008
        Pasal 5 Ayat 1 "Informasi Elektronik dan/atau Dokumen Elektronik dan/atau hasil cetakannya
        merupakan
        alat bukti hukum yang sah"</li>
      <li style="text-align: left;font-size: 8pt;">Dokumen ini telah
        ditandatangani secara elektronik menggunakan sertifikat elektronik.</li>
    </ul>
  </div>
</div>